<!DOCTYPE html> 

<html>
<head>
<title>Tellstick</title>
<meta name="viewport" content="width=device-width, initial-scale=1"> 

<link rel="stylesheet" href='/static/style.css' />
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<script type="text/javascript" src="static/app.js"></script>
</head>

<body>

<div data-role="page" id="lights">
    <div data-role="header">
        <h1>Tellstick</h1>
    </div>
    <div data-role="content">
        <div class="ui-grid-a">
            {% for device in devices %}
                <div class="ui-block-{{ loop.cycle('a', 'b') }}">
                    <label for="lights">{{ device.name }}</label>
                    <select name="lights" id="{{ device.tellstickId }}" data-role="slider">
                    {% if device.isOn %}
                            <option value="0">Off</option>
                            <option value="1" selected>On</option>
                    {% else %}
                            <option value="0" selected>Off</option>
                            <option value="1">On</option>
                    {% endif %}
                    </select>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
</body>
</html>
